@font-face {
  font-family: 'Snell Roundhand';
  src: local('Snell Roundhand'), url('https://example.com/fonts/SnellRoundhand.woff') format('woff');
}

@font-face {
  font-family: 'SignPainter';
  src: local('SignPainter'), url('https://example.com/fonts/SignPainter.woff') format('woff');
}

a {
  color: inherit;
  text-decoration: none;
}
body {
    margin: 0;
}
header {
    top: 0;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 109, 64);
    align-items: center;
    margin-right: auto;
    z-index: 1000;
  }
   
  .title {
    margin-right: auto;
    font-family: 'SignPainter-HouseScript', cursive;
    font-size: 60px !important; /* Reduced size to 60px */
    color: white;
    padding: 40px;
  }
   
  .menu-item {
    list-style: none;
    display: inline-block;
    font: 20px 'arial black';
    color: white;
    padding-left: 20px;
    border: 4px;
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center; /* 子要素を中央に配置 */
    align-items: center; /* 子要素を縦方向に中央に配置 */
    width: 300px; /* 必要に応じて調整 */
    height: 300px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 1rem; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

  .swiper-slide img {
    display: block;
    margin: auto; /* 画像を中央に配置 */
    max-width: 100%; /* 親要素の幅に収める */
    height: auto; /* アスペクト比を維持 */
    object-fit: contain; /* 画像全体を表示 */
    object-position: center; /* 中央に配置 */
}