@font-face {
  font-family: 'Snell Roundhand';
  src: local('Snell Roundhand'), url('https://example.com/fonts/SnellRoundhand.woff') format('woff');
}

@font-face {
  font-family: 'SignPainter';
  src: local('SignPainter'), url('https://example.com/fonts/SignPainter.woff') format('woff');
}

a {
  color: inherit;
  text-decoration: none;
}
body {
    margin: 0;
}
header {
    top: 0;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 109, 64);
    align-items: center;
    margin-right: auto;
    z-index: 1000;
  }
   
  .title {
    margin-right: auto;
    font-family: 'SignPainter-HouseScript', cursive;
    font-size: 60px !important; /* Reduced size to 60px */
    color: white;
    padding: 40px;
  }
   
  .menu-item {
    list-style: none;
    display: inline-block;
    font: 20px 'arial black';
    color: white;
    padding-left: 20px;
    border: 4px;
  }

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 1rem; 
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

  .swiper-slide img {
    display: block;
    width: 300px;
    height: 100%; 
    object-fit: cover;
    object-position: center; /* 画像を中央に配置 */
}